#KEYS:

ASSEMBLYAI_API_KEY=sua_chave_assemblyai
OPENAI_API_KEY=sua_chave_openai

#CONFIGS

GPT_MODEL=gpt-4o
PORT=3001
CLIENT_URL=http://localhost:5173

#AUTH

SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6cmN4b2dhcmJlbHdsZHZlaGR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0MzE0NjEsImV4cCI6MjA5MjAwNzQ2MX0.8BMlF3OHrMof-eCNmMEc1S90adPhcntgkQB1hcJjUXU
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6cmN4b2dhcmJlbHdsZHZlaGR4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjQzMTQ2MSwiZXhwIjoyMDkyMDA3NDYxfQ.HNtlTUgy6NakZDVs-7i14njNdOmBgQoGXAfmmVch3CA
SUPABASE_URL=https://tzrcxogarbelwldvehdx.supabase.co